.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 50px;
    width: 60px;
  /*  background-color: #ff000044;*/
    cursor: pointer;
    color: #fff;
}

.seta {
    font-size: 36px;
}

#mainIframe {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0 0;
}

.responsive {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}



footer {
    margin-top: 400px;
}


@media screen and (max-width:490px) {
    .seta {
        font-size: 30px;
    }
    
}
@media screen and (max-width:460px) {
    .seta {
        font-size: 28px;
    }
    
}

@media screen and (max-width:430px) {
    .back {
        line-height: 50px;
        width: 50px;
    }
    
    .seta {
        font-size: 22px;
    }
    

}
@media screen and (max-width:320px) {
    .back {
        line-height: 50px;
        width: 45px;
    }
    
    .seta {
        font-size: 22px;
    }
    

}
